@bg-color: #D0D0D0;

body{
  padding-top: 09px;
  background-size: cover;
  background-color: black;
}

#albumCover{
  width: 100px;
  height: 150px;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  background-color: @bg-color;
  }

#header{
  border: 2px solid silver;
  height: 100px;
  padding-left: 50px;
  background-color: @bg-color;
  border-style: outset;
}

#sideBar{
  border: 2px solid silver;
  padding-top: 20px;
  padding-left: 20px;
  height: 670px;
  width: 200px;
  background-color: @bg-color;
  border-style: #D0D0D0;
}

#mainArea{
  background: rgb(169, 167, 192);
  background: -moz-linear-gradient(43deg, rgb(169, 167, 192) 38%, rgb(171, 183, 242) 79%);
  background: -webkit-linear-gradient(43deg, rgb(169, 167, 192) 38%, rgb(171, 183, 242) 79%);
  background: -o-linear-gradient(43deg, rgb(169, 167, 192) 38%, rgb(171, 183, 242) 79%);
  background: -ms-linear-gradient(43deg, rgb(169, 167, 192) 38%, rgb(171, 183, 242) 79%);
  background: linear-gradient(133deg, rgb(169, 167, 192) 38%, rgb(171, 183, 242) 79%);
  position: relative;
  left: 215px;
  width: 1137px;
  height: 670px;
  border: 5px solid silver;
  border-style: inset;
  background: rgb(169, 167, 192);
  background: -moz-linear-gradient(43deg, rgb(169, 167, 192) 38%, rgb(171, 183, 242) 79%);
  background: -webkit-linear-gradient(43deg, rgb(169, 167, 192) 38%, rgb(171, 183, 242) 79%);
  background: -o-linear-gradient(43deg, rgb(169, 167, 192) 38%, rgb(171, 183, 242) 79%);
  background: -ms-linear-gradient(43deg, rgb(169, 167, 192) 38%, rgb(171, 183, 242) 79%);
  background: linear-gradient(133deg, rgb(169, 167, 192) 38%, rgb(171, 183, 242) 79%);
}

form{
  position: relative;
  left: 165px;
  width: 187px;
  height: 70px;
  border: 2px solid red;
}

.btn{
  position: relative:
  left: 20px;
  padding-bottom: 10px;
  height: 5%;
  border-style: outset;
  
}

input.searchField{
  border-style: inset;
  width: 200px;
  border-radius: 5px;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  background: rgb(169, 167, 192);
  background: -moz-linear-gradient(43deg, rgb(169, 167, 192) 38%, rgb(171, 183, 242) 79%);
  background: -webkit-linear-gradient(43deg, rgb(169, 167, 192) 38%, rgb(171, 183, 242) 79%);
  background: -o-linear-gradient(43deg, rgb(169, 167, 192) 38%, rgb(171, 183, 242) 79%);
  background: -ms-linear-gradient(43deg, rgb(169, 167, 192) 38%, rgb(171, 183, 242) 79%);
  background: linear-gradient(133deg, rgb(169, 167, 192) 38%, rgb(171, 183, 242) 79%);
}

