doctype html
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/less/app.css')
    script(src='/js/vendor/modernizr.js')
  body
    #container
      .row
        .small-12.columns
          .header
            h1 MochaCast
      #nav
        .row
          .small-9.columns
            .button-bar
              ul.button-group.round
                li: a#addArtist.button.tiny Add Artist
                li: a#addAlbum.button.tiny Add Album
                li: a#addSong.button.tiny Add Song
          .small-3.columns
            form#search
              .row.collapse
                .small-9.columns
                  input.right(type= 'text', placeholder='Search', autofocus=true)
                .small-3.columns
                  a#searchbtn.button.postfix.tiny Search

      #formArea
        .row
          .small-6.columns
              form#submitArtist
                fieldset
                  .row
                    .small-12.columns
                      input(type='text', name='artistName', placeholder='Artist')
                  .row
                    .small-6.columns
                      label Artist Photo
                        input(name='artistPhoto', type='file')
                    .small-6.columns
                      a#saveArtist.button.tiny.round.right Save Artist
        .row
          .small-6.columns
              form#submitAlbum
                fieldset
                  .row
                    .small-12.columns
                      input(type='text', name='albumTitle', placeholder='Album Title')
                  .row
                    .small-4.columns
                      label Album Art
                        input(name='albumPhoto', type='file')
                    .small-4.columns
                      select(name='Artist')
                        option(value='Select Artist', disabled) Select Artist
                    .small-4.columns
                      a#saveAlbum.button.tiny.round Save Album
        .row
          .small-6.columns
              form#submitSong
                fieldset
                  .row
                    .small-12.columns
                      input(type='text', name='songTitle', placeholder='Song Title')
                  .row
                    .small-4.columns
                      select(name='Artist')
                        option(value='Select Artist', disabled) Select Artist
                    .small-4.columns.left
                      select(name='Album')
                        option(value='Select Album', disabled) Select Album
                    .small-4.columns.left
                      a#saveSong.button.tiny.round Save Song

        .row
          .small-12.columns
            #mainArea
              #album
                p Artist

    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/vendor/moment.js')
    script(src='/js/source/main.js')
