doctype html
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/less/app.css')
    script(src='/js/vendor/modernizr.js')
  body
    #container
      .row
        .small-12.columns
          .header
            h1 MochaCast
            h5 "I'm in your data." - Prince
      #nav
        .row
          .small-9.columns
            .button-bar
              ul.button-group.round
                li: a#addArtist.button.tiny Add Artist
                li: a#addAlbum.button.tiny Add Album
                li: a#addSong.button.tiny Add Song
                li: a#showArtists.button.tiny Show Artists
                li: a#showAlbums.button.tiny Show Albums
                li: a#showSongs.button.tiny Show Songs
          .small-3.columns
            form#search
              .row.collapse
                .small-3.columns
                  select#selectSearch.button.prefix.tiny
                    option Select
                    option(value='artist') Artist
                    option(value='album') Album
                    option(value='song') Song
                .small-6.columns
                  input.right(type= 'text', placeholder='Search', autofocus=true)
                .small-3.columns
                  a#searchbtn.button.postfix.tiny Search

      #formArea
        .row
          .small-6.columns
              form#submitArtist
                fieldset
                  .row
                    .small-12.columns
                      input#artistName(type='text', name='name', placeholder='Artist')
                  .row
                    .small-6.columns
                      label Artist Photo
                        input#artistPhoto(name='photo', type='text', placeholder='Url')
                        input#artistId(name='_id', type='hidden')
                    .small-6.columns
                      a#saveArtist.button.tiny.round.right Save Artist
        .row
          .small-6.columns
              form#submitAlbum
                fieldset
                  .row
                    .small-8.columns
                      input#albumName(type='text', name='name', placeholder='Album Title')
                    .small-4.columns
                      input#albumYear(type='text', name='year', placeholder='Year')
                  .row
                    .small-4.columns
                      label Album Art
                        input#albumPhoto(name='cover', type='text', placeholder='Url...')
                        input#albumId(name='_id', type='hidden')
                    .small-4.columns
                      select.artist#artistSelect(name='artist')
                        option(value='Select Artist', disabled) Select Artist
                    .small-4.columns
                      a#saveAlbum.button.tiny.round Save Album
        .row
          .small-6.columns
              form#submitSong
                fieldset
                  .row
                    .small-12.columns
                      input(type='text', name='songTitle', placeholder='Song Title')
                  .row
                    .small-3.columns
                      select.artist.selectArtist(name='artist')
                        option(value='Select Artist', disabled) Select Artist
                    .small-3.columns.left
                      select#album.selectAlbum(name='album')
                        option(value='Select Album', disabled) Select Album
                    .small-2.columns
                      input(name='mp3', type='file')
                    .small-3.columns.left
                      a#saveSong.button.tiny.round Save Song

        .row
          .small-12.columns
            #mainArea
              .row
                .small-12.columns
                  table#songTable
                    thead
                      tr
                        th.th Song title
                        th.th Artist
                        th.th Album
                    tbody#songTBody


        script(src='/js/vendor/jquery.js')
        script(src='/js/vendor/foundation.js')
        script(src='/js/vendor/lodash.js')
        script(src='/js/vendor/moment.js')
        script(src='/js/source/main.js')
